.navbar-expand-lg .navbar-collapse {
  justify-content: end !important;
  flex-grow: 0;
}

.navbar-expand-lg .navbar-nav {
  column-gap: 60px;
}

.custom-container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.custom-container-fluid > .new-nav {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 991px) {
  .nav-content-right {
    text-align: center;
  }
}

.nav-content-right > .nav-item > .nav-link {
  color: #fff;
}

.navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}
@media only screen and (min-width: 991px) {
  .fables-nav .dropdown-menu:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 24px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(255, 255, 255, 0.9);
    border-left: 5px solid transparent;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    /* width: 40vw; */
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 993px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  .dropdown-menu.show {
    display: flex;
  }
}

.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  padding: 10px;
}

.dropdown-menu ul {
  list-style: none;
  padding-left: 0px;
  width: 100%;
}

.dropdown-menu ul li {
  margin-left: -10px;
  margin-right: -10px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(229, 77, 66);
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .dropdown-menu.show {
    max-height: 60vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 991px) {
  .dropdown-menu:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 24px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(255, 255, 255, 0.9);
    border-left: 5px solid transparent;
  }
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(229, 77, 66);
}

/* footer css start */
.bg-rules {
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-image {
  background-image: url(images/footer-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-overlay {
  position: relative;
}

.footer-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 62, 79, 0.8);
}

.footer-image .container {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.footer-main-row {
  padding: 20px 30px;
}

.about-section > ul {
  list-style: none;
  padding-left: 0px;
}

.about-section > ul > li,
.explore > ul > li {
  margin-top: 15px;
  list-style: none;
}

.about-section > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.explore > ul > li > a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.about-section i {
  font-size: 25px;
  width: 30px;
  color: rgb(229, 77, 66);
}

.explore > ul > li > a:hover,
.about-section > ul > li > a:hover {
  color: rgb(229, 77, 66);
}

.about-section h2,
.informations h2,
.explore h2 {
  font-size: 20px;
}

@media (max-width: 575px) {
  .about-section,
  .informations,
  .explore {
    text-align: center;
  }
}

.footer-hr {
  border: 1px solid rgb(229, 77, 66);
  opacity: 1;
}

.footer-pragraph-color {
  color: #99a2aa !important;
  margin-left: 35px;
  font-size: 14px !important;
  margin-top: 0 !important;
}

.subscribe-formgroup {
  width: 100%;
}

.subscribe-input {
  width: 100% !important;
  background-color: transparent;
  padding: 10px 20px;
  color: #fff !important;
  transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.btn-rouned {
  border-radius: 22px;
}

.subscribe-btn {
  padding: 10px 30px;
  position: absolute;
  right: -1px;
  top: 0;
  color: #fff;
}

.second-background-color {
  background-color: #e54d42 !important;
  transition: all ease-in-out 0.3s;
}

.copyright {
  background-color: #2c3e4f !important;
}

.footer-social-links a {
  color: inherit;
  display: block;
  margin-right: 15px;
  font-size: 22px;
}

/* contact css start */
.contact-bg {
  background-image: url(images/contactbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-overlay {
  position: relative;
}

.contact-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c3e4fd9 !important;
}

.contact-bg .container {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.main-contact {
  color: #fff;
  border-left-style: solid;
  border-left-width: 9px;
  z-index: 1;
  position: relative;
  padding-left: 16px;
  margin-top: 108px;
  line-height: 80px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 47px;
  border-color: #e54d42 !important;
}

.contact-icon > i {
  font-size: 35px;
}

.contact-paragraph {
  background: #f7f6f2;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  min-height: 250px;
  margin-bottom: 20px;
}

.contact-paragraph > p {
  font-size: 20px;
  margin-bottom: 0px;
}

.contact-ul {
  padding-left: 0px;
}
